<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Management System</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	<div class="container my-2">
		<h1> User List</h1>
		
		<a th:href = "@{/showNewLoginForm}" class="btn btn-primary btn-sm mb-3">Add Login</a>
		<table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>User Name</th>
					<th>Password</th>
					<th>Full Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="login : ${listLogin}">
					<td th:text="${login.userName}"></td>
					<td th:text="${login.password}"></td>
					<td th:text="${login.fullName}"></td>
					<td th:text="${login.email}"></td>
					<td><a th:href="@{/showFormUpdate/{id}(id=${login.id})}" class="btn btn-primary">Update</a>
					 	<a th:href="@{/deleteLogin/{id}(id=${login.id})}" class="btn btn-danger">Delete</a></td>
				</tr>
			</tbody>
		</table>
	
	
	</div>
</body>
</html>